root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[/assets/models/*/**]
indent_style = unset
indent_size = unset
end_of_line = unset
charset = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
