/*
Copyright(c) Live2D Inc. All rights reserved.

Use of this source code is governed by the MIT License.
 */

@import url("./ar.css");
@import url("./debug.css");

html, body {
  overflow: hidden;
  margin: 0;
  -webkit-text-size-adjust: 100%;
  font-family: monospace;
  font-weight: bold;
}

body{
  background-color: black;
}

p, span, ul {
  margin: 0;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

button{ 
  z-index: 10;
  border-radius:1px;
  border: 3px;
  padding: 7px;
  margin: 5px;
}

#main-canvas {
  object-fit: contain;
}
